{
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "plugins": [
    "prettier"
  ],
 "rules": {
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "trailingComma": "all",
      "bracketSpacing": true,
      "parser": "flow"
    }]
  }
}
